{% extends "_.html" %}

{% block content %}
<div class="sm:mx-auto -mt-64 relative sm:w-full sm:max-w-sm p-12 bg-white shadow-xl rounded-lg">
    <img class="mx-auto h-10 w-auto"
         src="https://tailwindui.com/plus-assets/img/logos/mark.svg?color=teal&shade=600" alt="Your Company">
    <h2 class="mt-10 text-center text-2xl/9 font-bold tracking-tight text-gray-900">Sign in to your account</h2>

    <div class="mt-10">
        <form class="mt-2 space-y-6" action="/signin" method="POST">
            <div>
                <label for="email" class="block text-sm/6 font-medium text-gray-900">Email</label>
                <div class="mt-2">
                    <input type="email" value="{{ email }}" name="email" id="email" autocomplete="email" required
                           class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-teal-600 sm:text-sm/6">
                </div>
            </div>

            <div>
                <div class="flex items-center justify-between">
                    <label for="password" class="block text-sm/6 font-medium text-gray-900">Password</label>
                </div>
                <div class="mt-2">
                    <input type="password" name="password" id="password" autocomplete="current-password" required
                           class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-teal-600 sm:text-sm/6">
                </div>
            </div>

            <div>
                <button type="submit"
                        class="flex w-full justify-center rounded-md bg-teal-600 px-3 py-1.5 text-sm/6 font-semibold text-white hover:shadow-md shadow hover:bg-teal-700 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-teal-600  duration-150">
                    Sign in
                </button>
            </div>

            {% if error %}
            <div class="text-red-700 -mt-3 text-center rounded relative text-sm" role="alert">
                {{ error }}
            </div>
            {% endif %}
        </form>

        <p class="mt-10 text-center text-sm/6 text-gray-500">
            Not a member?
            <a href="/signup" class="font-semibold text-teal-600 hover:text-teal-500">Sign up</a>
        </p>
    </div>
</div>
{% endblock %}
